/* Media Query Max 880px for large phones and small tablets */
 @media only screen and (max-width: 880px) {
    .main-landing-page .landing-page-info {
        margin-top: 130px;
        text-align: center;
     }
    .main-landing-page .landing-page-info h5 {
        margin-bottom: 10px;
    }
     .main-landing-page .landing-page-picture {
        width: 100%;
        position: relative;
        right: 0;
        bottom: 0;
        margin: 50px 0;
    }
    .main-landing-page .landing-page-picture img {
        max-width: 100%;
        width: auto;
    }
     .main-landing-page .landing-page-info .copyright p {
        position: unset;
    }
}


/* Media Query Max 640px for small phones */
@media (min-width: 769px) and (max-width: 1024px) {

    .main-landing-page .landing-page-info {
        margin-top: 150px;
        text-align: center;
     }
    .main-landing-page .landing-page-info h5 {
        margin-bottom: 10px;
    }
    .main-landing-page .landing-page-picture {
        width: 100%;
        position: relative;
        right: 0;
        bottom: 0;
        text-align: left;
        margin: 50px 0;
        text-align: center;

    }
    .main-landing-page .landing-page-picture img {
        max-width: 100%;
        width: auto;
    }
     .main-landing-page .landing-page-info .copyright p {
        position: unset;
    }
}
