/* Media Query MAx 1024px for tablets and small desktops */
@media only screen and (max-width: 1150px) {
    /* Start Media Query About Section */
    .about-container .about-items .about-left {
        width: 35%; /* Adjust width for smaller screens */
    }
    .about-container .about-items .about-left img {
        width: 100%; /* Scale image for responsiveness */
        height: auto;
        margin-left: 0;
    }
    .about-contents .about-items .middle-border {
        display: none; /* Hide the border on smaller screens */
    }
    .about-container .about-items .about-right {
        width: 55%; /* Adjust right section width */
        margin-top: 30px;
    }
    /* End Media Query About Section */
    /* Start Media Query Resume Section */
    .resume-container .resume-contents {
        width: 100%;
    }
    .resume-container .resume-contents .all-boxes{
        display: flex;
    }
    .resume-container .resume-contents .boxes {
        max-width: 47%;
    }
    /* End Media Query Resume Section */
    /* Start Media Query Skills Section */
    .skills-charts-container .skills-charts{
        display: flex;
    }
    .skills-charts-container .chart{
        width: 46%;
        height: 90px;
    }
    /* End Media Query Skills Section */
    /* Start Media Query Skills Icons Section */
    .icons-container {
        margin: 55px 0;
        min-height: 65vh;
    }
    .icons-container .background-icons {
        min-height: 450px;
    }
    .icons-container .all-icons {
        max-width: 100%;
    }
    .icons-container .all-icons .skills-icons {
        display: flex;
        padding-top: 10px;
        margin-left: 100px;
    }
    .icons-container .all-icons .one {
        width: 25%;
    }
    /* End Media Query Skills Icons Section */
    /* Start Media Query Projects Section */
    .projects-container .projects-contents .all-boxes{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    .projects-container .projects-contents .boxes {
        width: 30%;
        margin: 10px 0;
    }
    /* End Media Query Projects Section */
    /* Start Media Query Portfolio Section */
    .portfolio-container .portfolio {
        justify-content: space-between;
    }
    .portfolio-container .portfolio-items .box-port {
        max-width: 42%; /* Two items per row */
      }
    .portfolio-container .popup-content {
        width: 90%; /* Adjust popup width */
        height: 85vh; /* Adjust popup height */
      }
    /* End Media Query Portfolio Section */
    /* Start Media Query Hire me Section */
    .hire-me-container .all-item {
        padding-top: 85px;
    }
    .hire-me-container {
        text-align: center;
    }
    /* End Media Query Hire me Section */
    /* Start Media Query Contacts Section */
    .contacts-container .items {
        width: 45%; /* Adjust container width */
    }
    .contacts-container .contact-left {
        min-width: 400px; /* Adjust form width */
        padding: 0 20px; /* Reduce padding */
    }
    .contacts-container .contact-left input,
    .contacts-container .contact-left textarea {
        width: 100%; /* Full width */
    }
    .contacts-container .contact-right img {
        min-width: 80%; /* Adjust image size */
        height: auto; /* Maintain aspect ratio */
    }
    /* End Media Query Contacts Section */
    /* Start Media Query Localisation Section */
    .location-map {
        min-width: 100%;
        height: 350px;
    }
    .location-map iframe {
        height: 320px;
    }
    /* End Media Query Localisation Section */
    /* Start Media Query Footer Section */
    footer .footer-icons {
        flex-wrap: wrap;
    }
    /* End Media Query Footer Section */
}







  /* Media Query Max 900px for large phones and small tablets */
  @media only screen and (max-width: 940px) {
    .main-contents {
        min-height: 55vh;
    }
    /* Start Media Query Navigation Section */
    .top-header {
        height: 85px;
        padding-top: 25px;
    }
    .top-header .logo img {
        width: 42px;
    }
    .top-header .header-nav-link {
        display: none;
        position: fixed;
        top: 85px;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #0b0b0b;
        text-align: center;
        padding: 20px 0;
    }
    .header-nav-link ul {
        flex-direction: column;
    }
    .top-header .header-nav-link a {
        display: block;
        font-size: 20px;
        padding: 17px;
    }
    .open-menu {
        display: block;
    }
    /* End Media Query Navigation Section */
    /* Start Media Query About Section */
    .about-container .about-items {
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }
    .about-container .about-items .about-left,
    .about-container .about-items .about-right {
        width: 80%; /* Reduce width for both sections */
    }
    /* End Media Query About Section */
    /* Start Media Query Resume Section */
    .resume-container .resume-contents .all-boxes{
        display: block;
    }
    .resume-container .resume-contents .boxes {
        max-width: 100%;
        margin: 20px 0;
    }
    /* End Media Query Resume Section */
    /* Start Media Query Skills Section */
    .skills-charts-container .skills-charts{
        display: block;
    }
    .skills-charts-container .chart{
        width: 100%;
        height: 70px;
    }
    /* End Media Query Skills Section */
    /* Start Media Query Skills Icons Section */
    .icons-container {
        margin: 65px 0;
        min-height: 20vh;
    }
    .icons-container .background-icons {
        min-height: 450px;
    }
    .icons-container .all-icons {
        max-width: 100%;
    }
    .icons-container .all-icons .skills-icons {
        display: flex;
        padding-top: 5px;
        margin-left: 60px;
    }
    .icons-container .all-icons .one {
        width: 25%;
    }
    /* End Media Query Skills Icons Section */
    /* Start Media Query Projects Section */
    .projects-container .projects-contents .all-boxes{
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    .projects-container .projects-contents .boxes {
        width: 100%;
        margin: 10px 0;
    }
    /* End Media Query Projects Section */
    /* Start Media Query Portfolio Section */
    .portfolio-container .small-menu span {
        font-size: 20px; /* Reduce font size */
      }
    .portfolio-container .portfolio {
        display: block;
    }
    .portfolio-container .portfolio-items .box-port {
        margin: 35px 0; 
        max-width: 100%; /* One item per row */
        height: auto;
      }
      .portfolio-container .popup-content {
        width: 95%;
        height: 90vh;
      }
      .portfolio-container .popup-img {
        gap: 25px;
    }
      .portfolio-container .box-port .text-box {
        max-width: 94%;
        margin: 15px;
        padding: 20px;
    }
    /* End Media Query Portfolio Section */
    /* Start Media Query Hire me Section */
    .hire-me-container {
        text-align: center;
        min-height: 45vh;
    }
    .hire-me-container .hire-me-bg {
        min-height: 300px;
    }
    .hire-me-container .all-item {
        padding-top: 85px;
    }
    .hire-me-container .hire-me-items h1 {
        font-size: 30px; 
    }  
    /* End Media Query Hire me Section */
    /* Start Media Query Contacts Section */
    .contacts-container .contacts-items {
        display: flex;
    }
    .contacts-container .contact-left {
        min-width: 400px;
        padding-top: 2px;
    }
    .contacts-container .contact-right  {
        display: block;
        align-items: center;
        margin-top: 30px;
    }
    .contacts-container .contact-left input {
        display: block;
        width: 350px;
    }
    .contacts-container .contact-left textarea {
        width: 350px;
    }
    .contacts-container .contact-right img {
        width: 430px;
        margin-left: -65px;
    }
    /* End Media Query Contacts Section */
    /* Start Media Query Localisation Section */
    .location-map {
        height: 320px;
    }
    .location-map iframe {
        height: 300px;
    }
    /* End Media Query Localisation Section */
    /* Start Media Query Footer Section */
    footer .footer-icons {
        justify-content: center;
    }
    footer .copyright p {
        font-size: 15px;
    }
    /* End Media Query Footer Section */
}







/* Media Query Max 640px for small phones */
@media only screen and (max-width: 640px){
    /* Start Media Query Navigation Section */
    .top-header {
        height: 85px;
        padding-top: 25px;
    }
    .top-header .logo img {
        width: 40px;
    }
    .top-header .header-nav-link {
        display: none;
        position: fixed;
        top: 85px;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #0b0b0b;
        text-align: center;
        padding: 20px 0;
    }
    .header-nav-link ul {
        flex-direction: column;
    }
    .top-header .header-nav-link a {
        display: block;
        font-size: 20px;
        padding: 17px;
    }
    .open-menu {
        display: block;
    }
    .main-contents {
        min-height: 58vh;
    }
    .main-contents .contents h1 {
        font-size: 60px;
    }
    /* End Media Query Navigation Section */

    /* Start Media Query About Section */
    .about-container .about-items .about-right {
        width: 90%; /* Further reduce section width */
        margin-top: 30px;
    }
    .about-container .about-items .about-left img {
        display: none;
    }
    .about-container .about-items .about-right h3 {
        font-size: 25px;
    }
    /* End Media Query About Section */
    /* Start Media Query Resume Section */
    .resume-container .resume-contents .all-boxes{
        display: block;
    }
    .resume-container .resume-contents .boxes {
        max-width: 100%;
        margin: 20px 0;
    }
    /* End Media Query Resume Section */
    /* Start Media Query Skills Section */
    .skills-charts-container .skills-charts{
        display: block;
    }
    .skills-charts-container .chart{
        width: 100%;
        height: 70px;
    }
    /* End Media Query Skills Section */
    /* Start Media Query Skills Icons Section */
    .icons-container .background-icons {
        min-height: 90vh;
    }
    .icons-container {
        margin: 55px 0;
    }
    .icons-container .all-icons {
        max-width: 100%;
    }
    .icons-container .all-icons .skills-icons {
        display: flex;
        padding-top: 5px;
        margin-left: 35px;
    }
    .icons-container .all-icons .one {
        width: 30%;
    }
    /* End Media Query Skills Icons Section */
    /* Start Media Query Projects Section */
    .projects-container .projects-contents .all-boxes{
        padding-top: 30px;
    }
    .projects-container .projects-contents .boxes {
        width: 100%;
        margin: 10px 0;
    }
    /* End Media Query Projects Section */
    /* Start Media Query Portfolio Section */
      .portfolio-container .portfolio-items .box-port {
        max-width: 100%;
        height: auto;
        margin: 30px 0; /* Add margin for better spacing */
      }
      .portfolio-container .popup-content {
        width: 95%;
        height: 75vh;
        padding: 15px; /* Reduce padding */
      }
      .portfolio-container .popup-img img {
        width: 100%; /* Full width images */
        margin-right: 0; /* Remove margin */
      }
    /* End Media Query Portfolio Section */
    /* Start Media Query Hire me Section */
    .hire-me-container .all-item {
        padding-top: 70px;
    }
    .hire-me-container {
        text-align: center;
    }
    .hire-me-container .hire-me-bg {
        min-height: 55vh;
    }
    .hire-me-container .hire-me-items h1 {
        font-size: 29px; 
    }
    /* End Media Query Hire me Section */
    /* Start Media Query Contacts Section */
    .contacts-container .contacts-items {
        display: block;
    }
    .contacts-container .contact-right img {
        width: 400px;
        margin-left: 0;
    }
    /* End Media Query Contacts Section */
    /* Start Media Query Localisation Section */
    .location-map {
        width: 400px;
        height: 280px;
    }
    .location-map iframe {
        height: 260px;
        margin-top: 5px;
    }
    /* End Media Query Localisation Section */
}






@media screen and (max-width: 430px) and (max-height: 896px) {
    .top-header {
        width: 88%;
    }
    .container {
        width: 88%;
    }
    .main-contents {
        min-height: 55vh;
    }
    .main-contents .contents h1 {
        font-size: 45px;
    }
    .background-section {
        width: 100%;
    }
    /* Start Media Query About Section */
    .about-container .about-items .about-right {
        width: 90%;
    }
    .about-container .about-items .about-left img {
        display: none;
    }
    /* End Media Query About Section */
    /* Start Media Query Resume Section */
    .resume-container .resume-contents .boxes {
        padding: 20px 25px;
    }
    .resume-container .resume-contents .boxes h2 {
        font-size: 16px;
    }
    .resume-container .resume-contents .boxes h3 {
        font-size: 18px;
    }
    .resume-container .resume-contents .boxes span {
        font-size: 15px;
    }
    .resume-container .resume-contents .boxes p {
        font-size: 14px;
    }
    /* End Media Query Resume Section */
    /* Start Media Query Skills Icons Section */
    .icons-container {
        min-height: 60vh;
    }
    .icons-container .background-icons {
        width: 88%;
        min-height: 55vh;
    }
    .icons-container .all-icons .skills-icons {
        display: flex;
        padding-top: 15px;
        margin-left: 18px;
    }
    .icons-container .skills-icons .one img {
        width: 65px;
        height: 65px;
    }
    /* End Media Query Skills Icons Section */
    /* Start Media Query Projects Section */
    .projects-container .projects-contents .all-boxes{
        padding-top: 30px;
    }
    /* End Media Query Projects Section */
    /* Start Media Query Portfolio Section */
    .portfolio-container .popup-img img:nth-child(2) {
        display: none;
    }
    .portfolio-container .iphone-img img {
        width: 270px; 
        height: auto;
    }
    .portfolio-container .box-port .text-box {
        margin: 10px;
        padding: 10px;
    }
    .portfolio-container .portfolio-items .box-port {
        margin: 20px 0; 
        max-width: 100%;
    }
    /* End Media Query Portfolio Section */
    /* Start Media Query Hire Me Section */
    .hire-me-container {
        text-align: center;
        min-height: 45vh;
    }
    .hire-me-container .hire-me-bg {
        width: 88%;
        min-height: 38vh;
    }
    .hire-me-container .all-item {
        padding-top: 70px;
    }
    .hire-me-container .hire-me-items h1 {
        font-size: 28px; 
    }    
    /* End Media Query Hire Me Section */
    /* Start Media Query Contacts Me Section */
    .contacts-container .contact-left {
        width: 100%;  /* Make the form take full width */
        min-width: unset; /* Remove minimum width restriction */
        padding: 0 15px; /* Add some padding */
    }
    .contacts-container .contact-left input,
    .contacts-container .contact-left textarea {
        width: 100%;  /* Make inputs and textarea fully responsive */
        min-width: unset; /* Remove min-width restriction */
    }
    .contacts-container .contact-left h1 {
        font-size: 28px; /* Slightly smaller heading */
    }
    .contacts-container .contact-right {
        width: 100%;
    }
    .contacts-container .contact-right img {
        width: 100%;
    }
    /* End Media Query Contacts Me Section */
    /* Start Media Query Localisation Section */
    .location-map {
        width: 100%;
        min-width: 190px;
        height: 250px;
        margin: auto;
        overflow: hidden;
        position: relative;
        cursor: pointer;
    }
    .location-map iframe {
        pointer-events: none;
        border: none;
        width: 100%;
        height:320px;
        margin-top: 5px;
     }
    /* End Media Query Localisation Section */
    /* Start Media Query Footer Section */
    footer {
        width: 100%;
        min-height: 280px;
    }
    footer .footer-name h1 {
        font-size: 25px;
    }
    footer .to-the-top {
        display: none;
    }
    /* End Media Query Footer Section */
}
  


@media screen and (max-width: 320px) and (max-height: 896px) {

    /* Start Media Query Skills Icons Section */
    .icons-container .background-icons {
        min-height: 85vh;
    }
    .icons-container .all-icons .skills-icons {
        margin-left: 18px;
    }
    /* End Media Query Skills Icons Section */
    .portfolio-container .iphone-img img {
        width: 200px; 
        height: auto;
    }
    /* Start Media Query Hire Me Section */
    .hire-me-container .all-item {
        padding-top: 10px;
    }
    .hire-me-container .hire-me-items h1 {
        font-size: 24px; 
    }    
    /* End Media Query Hire Me Section */
}
  
